
<%- include("header") -%>

    <div class="box" id="heading">
      <h1> <%= listTitle %> </h1>
    </div>

    <div class="box">
    <%  for (var i = 0; i<newListItems.length; i++) { %>
      <div class="item">
        <input type="checkbox">
        <p> <%= newListItems[i] %> </p>
      </div>
    <%  } %>

    <form class="item" action="/daily" method="post">

      <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
      <button type="submit" name="list" value= <%= listTitle %> > +</button>

    </form>

  </div>

     <form class="" action= "/work" method="post">
       <p>Teleport To ...</p>
      <button class="redirect_button" type="submit" name="button"> <%= OtherListName %></button>
    </form>
<%- include("footer") -%>
